<footer>
    <div>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci atque corporis blanditiis similique quos quidem reprehenderit quas exercitationem omnis mollitia in, debitis dolor vero illo nesciunt laudantium quam totam.
        </p>
    </div>
    <div>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat nam culpa, eos voluptatem id commodi, expedita accusantium architecto dignissimos, quia pariatur in hic aliquid facere mollitia natus reiciendis assumenda aliquam!
        </p>
    </div>
</footer>