<%# Needs: contentSection = ContentSection%>

<footer>

    <div class="footer-contact">
        <div class="footer-contact-phone">
            0765132135
        </div>
        <a href="/contact" class="footer-contact-contact">
            <div>
                Contactez-nous
            </div>
        </a>
    </div>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores consectetur quos eaque optio quo nesciunt ut quisquam. Recusandae quo exercitationem illum deleniti, est, ut molestias voluptatibus asperiores reiciendis tenetur quia.
        <br><br>
        <a href="/mentions-legales" class="footer-contact-mention-legale">
                Mentions legales
        </a>
    </p>

</footer>