<%# Needs : menuBar = MenuBar %>

<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/provides/css/bootstrap.min.css">
</head>

<body>

    <img src="/provides/assets/background.gif"
        style="
            width: 100%; height: 100%;
            position: fixed; top: 0%; z-index: -10;
        ">

    <div
        style="
            margin-top: 50%;
        ">

    <%- include('../component/header', {menuBar: menuBar}) %>

    <% if (contentSections) { %>
        <%- include('../component/content-with-content-section', contentSections) %>
    <% } %>

    <%- include('../component/footer') %>

    </div>

</body>

</html>
