<%# Needs : menuBarItems = [{name, url}] %>

<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<body>
    <%- include('../component/header', {menuBarItems: menuBarItems}) %>
</body>

</html>