<%# Needs : menuBar = MenuBar %>

<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<body>
    <%- include('../component/header', {menuBar: menuBar}) %>

    <% if (contentSections) { %>
        <%- include('../component/content-with-content-section', contentSections) %>
    <% } %>

    <%- include('../component/footer') %>
</body>

</html>