<%# Needs : menuBarItems = [{name, url}] %>

<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<body>
    <%- include('../component/header', {menuBarItems: menuBarItems}) %>

    <% if (contentSections) { %>
        <%- include('../component/content-with-content-section', contentSections) %>
    <% } %>

    <%- include('../component/footer') %>
</body>

</html>