<%# Needs : menuBarItem = MenuBarItem %>

<li class="menu-bar-directions-li" >
    <a href="<%= menuBarItem.url %>" class="<% if (menuBarItem.active == 0) { %>current<% } %>">
        <%= menuBarItem.name %>
    </a>
</li>

<% if (menuBarItem.subMenuItems) { %>
<div>
    <ul>
        <% menuBarItem.subMenuItems.forEach( function(subItem) { %>
            <li>
                <a class="" href="<%= subItem.url %>">
                    <%= subItem.name %>
                </a>
            </li>
        <% }) %>
    </ul>
</div>
<% } %>
