<div class="menu-bar-contact">
    <div class="menu-bar-contact-phone">
        0765132135
    </div>
    <a href="/contact" class="menu-bar-contact-message">
        <div >
            Contactez-nous
        </div>
    </a>
</div>
