<%# Needs : menuBarItem = MenuBarItem %>

<li class="menu-bar-directions-li" >
    <a href="<%= menuBarItem.url %>" class="<% if (menuBarItem.active == 0) { %>current<% } %>">
        <%= menuBarItem.name %>
    </a>
    
    <ul class="menu-bar-directions-li-suditem-div">
        <% menuBarItem.subMenuItems.forEach( function(subItem) { %>
            <li>
                <a class="" href="<%= subItem.url %>">
                    <%= subItem.name %>
                </a>
            </li>
        <% }) %>
    </ul>
</li>
