<%# Needs : menuBar = MenuBar} %>

<div class="menu-bar">
    <div class="menu-bar-top">
        <%- include('menuBarHome') %>

        <%- include('menuBarContact') %>
    </div>

    <div class="menu-bar-directions-div">
        <button class="menu-bar-button">
            ...
        </button>

        <ul class="menu-bar-directions-ul">
            <% menuBar.menuBarItems.forEach( function(menuBarItem) { %>
                <%- include('menuBarItem', {menuBarItem: menuBarItem}); %>
            <% }); %>
        </ul>
    </div>

</div>
