<%# Needs : menuBar = MenuBar} %>

<div id="id-menubar">
    <%- include('menuBarHome') %>
    <nav id="id-menubar-nav">

        <% menuBar.menuBarItems.forEach( function(menuBarItem) { %>
            <%- include('menuBarItem', {menuBarItem: menuBarItem}); %>
        <% }); %>

    </nav>
</div>
