<%# Needs : menuBar = MenuBar} %>

<nav class="menu-bar">
    <%- include('menuBarHome') %>

    <div class="menu-bar-directions-div">
        <ul class="menu-bar-directions-ul">
            <% menuBar.menuBarItems.forEach( function(menuBarItem) { %>
                <%- include('menuBarItem', {menuBarItem: menuBarItem}); %>
            <% }); %>
        </ul>
    </div>

</nav>
