<div class="menu-bar-contact">
    <div class="menu-bar-contact-phone">
        <img src="/provides/assets/phone.svg"
        style="
        width: 25%;
        height: 50%;
        "/>
        0765132135
    </div>
    <a href="/contact" class="menu-bar-contact-message">
        <img src="/provides/assets/letter.svg"
        style="
        width: 25%;
        height: 50%;
        "/>
        <div >
            Contactez-nous
        </div>
    </a>
</div>
