<%# Needs: contentSection = ContentSection%>
<div class="cl-content-section">
    <h1><%= contentSection.title %></h1>
    <div class="cl-content-section-div">
        <% contentSection.contentSectionBlocks.forEach( function(contentSectionBlock) { %>
            <% if (contentSectionBlock.type == "block") { %>
                <%- include('contentSectionBlock', {contentSectionBlock : contentSectionBlock}) %>
            <% } else if (contentSectionBlock.type == "blockContact") { %>
                <%- include('contentSectionBlockContact', {contentSectionBlockContact : contentSectionBlock}) %>
            <% } %>
        <% }) %>
    </div>
</div>
