<%# Needs : menuBar = MenuBar %>
<%# Needs : contentSections = ContentSection[] %>
<%# Needs : footerContentSection = ContentSection %>

<!DOCTYPE html>
<html>

<head>
    <title>Travaux Publics</title>
    <link rel="stylesheet" type="text/css" href="/provides/css/menuBar.css">
    <link rel="stylesheet" type="text/css" href="/provides/css/contentSection.css">
    <link rel="stylesheet" type="text/css" href="/provides/css/footer.css">
</head>

<body 
    style="
        margin: 0;
    ">

    <%- include('../../component/background', {background}) %>

    <%- include('../../component/header', {menuBar: menuBar}) %>

    <div
        style="
            margin-top: 10%;
        ">

    <% if (contentSections) { %>
        <%- include('../../component/content-with-content-section', contentSections) %>
    <% } %>

    <%- include('../../component/footer') %>

    </div>

    <script type="text/javascript" src="/provides/js/menuBar.js"></script>

</body>

</html>
